.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 231, 231);
  padding: 1rem;
  margin: 0.5rem 0;
  border-left: 4px solid rgb(145, 145, 145);
}

.reminder {
  border-left: 4px solid rgb(17, 202, 0);
}

span:hover {
  cursor: pointer;
}
